.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.green {
    background-color:#2ecc71;
    height: 60px;
    width: 80%;
}
.blue {
    background-color:#2980b9;
    height: 60px;
    width: 20%;
}
.red {
    background-color:#e74c3c;
    height: 120px;
    width: 30%;
}
.rainbow {  
    display: flex;
    flex-wrap: wrap;
    background-color:pink;
    width: 70%;
    height: 120px;
   
}
    .orange {
        background-color:#e67e22;
        height: 60px;
        width: 50%;
        
    }
    .white {
        background-color:#95a5a6;
        height: 60px;
        width: 50%;
    
    }
    .yellow {
        background-color:#f39c12;
        height: 60px;
        width: 33.33%;
    
    }
    .darkGreen {
        background-color:#16a085;
        height: 60px;
        width: 33.33%;
            
    }
    .darkOrange {
        background-color: #d35400;
        height: 60px;
        width: 33.33%;
    
    }

.grey {
    background-color:#2c3e50;
    width: 100%;
    height: 150px;
}   